pedradocouto.net/fotos/**/*.jpg
pedradocouto.net/fotos/**/*.png
pedradocouto.net/fotos/**/*.jpeg
pedradocouto.net/fotos/**/*.jfif
pedradocouto.net/fotos/**/*.html
fotos/**/*.html
fotos/**/*.jpg
fotos/**/*.png
fotos/**/*.jpeg
fotos/**/*.jfif
lib/config.php